body{font-family:Arial;direction:rtl;background:#f4f4f4;padding:20px}
input,button{display:block;margin:10px 0;padding:10px;width:100%}
table{width:100%;background:#fff}
td,th{border:1px solid #ccc;padding:5px;text-align:center}